.intro_banner {
  background-color: #FFF;
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.6rem 1.2rem;
  align-items: center;
  min-height: 400px;
}

.intro_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.img_container {
  padding: 1%;
  width: 40%;
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 3.6rem 1.2rem;
}

.project_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  padding: 0 6rem;
}

.small_img_container {
  padding: 1%;
  height: 200px;
  width: 100px;
  max-height: 122px;
}

.primary_section {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3.6rem 1.2rem;
  height: 300px;
  width: 100%;
}

.secondary_section {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-text);
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 3.6rem 1.2rem;
  flex-shrink: 0;
}

.intro_text {
  text-align: left;
  padding: 1.2rem;
  overflow: hidden;
}

.higlight_text {
  background-color: rgba(109, 214, 110, 0.3)
}

.dot {
  height: 12px;
  aspect-ratio: 1 / 1;
  background-color: #6DD66E;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 800px) {
  .primary_section {
    background-color: var(--ifm-color-primary-lightest);
    color: var(--ifm-color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3.6rem 1.2rem;
    height: 100%;
    width: 100%;
  }

  .intro_banner {
    background-color: #FFF;
    color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.6rem 1.2rem;
    align-items: center;
    min-height: 400px;
  }
  
}